PROJECT={{ ztp.project }}
BUILD_VERSION={{ ztp.version }}
# comment out next line when running local builds and no registry is used
REGISTRY={{ '%s/' % ztp.registry if ztp.registry is defined else '' }}
TAG_FILENAME=.tag
ZTP_HOST_IP={{ ztp.host.ip }}
